/node_modules/
/vendor/
/public/build
/.env
/.env.local
/.env.*.backup
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
/yarn-error.log
/.idea/
/.vscode/
.DS_Store
/storage/*.key
/storage/framework/cache/*.php
/storage/framework/sessions/*.php
/storage/framework/views/*.php
/storage/logs/*.log
